@model MiniBoard.ViewModel.LoginViewModel
<script>
    $(".card")
</script>


<h2>로그인</h2>
<div class="card-group">
    <div class="card">
        <form class="form-horizontal" method="post" asp-controller="Account" asp-action="Login">
            <div class="card-header" style="text-align: center;">아이디 로그인</div>
            <div class="card-body">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label>사용자 아이디</label>
                    <input type="text" class="form-control" asp-for="UserId" placeholder="사용자 아이디 입력" />
                    <span class="text-danger" asp-validation-for="UserId"></span>
                </div>
                <div class="form-group">
                    <label>사용자 비밀번호</label>
                    <input type="password" class="form-control" asp-for="UserPassword" placeholder="사용자 비밀번호 입력" />
                    <span class="text-danger" asp-validation-for="UserPassword"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">로그인</button>
                </div>
                <div class="form-group" style="text-align: center;">
                    <a asp-controller="Account" asp-action="FindId">계정찾기</a> /
                    <a asp-controller="Account" asp-action="Register">회원가입</a>
                </div>
            </div>
        </form>
    </div>
    <div class="card">
        <div class="card-header" style="text-align: center;">SNS 로그인</div>
        <div class="card-body text-center">
            <div class="form-group">
                <a class="btn btn-primary btn-block" href="https://www.facebook.com/v11.0/dialog/oauth?client_id=583538316016215&redirect_uri=https://localhost:44335/Auth/Facebook&state=MiniBoard">
                    Login with Facebook</a>
            </div>
            <div class="form-group">
                <a class="btn btn-warning btn-block" href="#">Login with Kakao</a>
            </div>
            <div class="form-group">
                <a class="btn btn-success btn-block" href="#">Login with Naver</a>
            </div>
            <div class="form-group">
                <a class="btn btn-light btn-block" href="#">Login with Google</a>
            </div>
        </div>
    </div>
</div>